<ng-container>
    <div class="row">
        <div class="col-6">
            <div class="float-end pt-1 pe-2">
                <mat-icon style="color: red;" (click)="wishListClick()">{{book.isLiked=="YES" ? "favorite":"favorite_border"}}</mat-icon>
              </div>
            <div class="text-center p-2">
                <img class="card-img-top border border-info" src="{{book.image_url}}" alt="Card image">
            </div>
            <div class="text-center">
                <!-- <button class="btn btn-success">Buy Now {{book.price | currency:'INR'}}</button> -->
                <button class="mt-2" mat-flat-button color="primary" (click)="addToCart()">
                    <mat-icon  >add_shopping_cart</mat-icon> <span class="ms-1">Add to cart</span>
                </button>
            </div>
        </div>
        <div class="col-6">
            <div class="card-body">
                <h4 class="card-title fw-bold">{{book.title}}</h4>
                <div class="d-flex">
                    <p class="cross-text pe-1" *ngIf="book.discount > 0">{{book.price | currency:'INR'}}</p>
                    <p class="h6 pe-1">{{book.priceAfterDiscount | currency:'INR'}}</p>
                    <p class="h6 pe-1 text-success fw-bold" *ngIf="book.discount > 0">{{book.discount}}%</p>
                </div>
                <p class="card-text">{{book.subtitle}}</p>
                <p style="font-style: italic;">{{book.description}}</p>
                <p class="card-text fw-bold">Author: {{book.author}}</p>
                <p class="card-text ">Publisher: {{book.publisher}}</p>
                <p class="card-text">Total pages: {{book.pages}}</p>
                <p class="card-text ">Published: {{book.published | date}}</p>
                <a href="{{book.website}}" target="_blank">{{book.website}}</a>
            </div>
        </div>

    </div>
</ng-container>